{% extends 'szablon.html' %}
{% block content %}
    <div class="row">
        <form method="POST" action="{% url 'main:index' %}">{% csrf_token %}
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <p></p>
                    <textarea rows="22" style="height: 100%; width: 75%; display: block; margin-right: auto; margin-left: auto;" name="text"></textarea>
                    <p></p>
                    <button type="submit" style="height: 15%; width: 75%; display: block; margin-right: auto; margin-left: auto;" class="btn btn-dark">Generate Speech</button>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}