{% extends 'szablon.html' %}
{% block content %}
    <div class="row">
        <form method="POST" action="{% url 'main:voice' %}">{% csrf_token %}
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <p></p>
                    <textarea readonly rows="22" style="height: 100%; width: 75%; display: block; margin-right: auto; margin-left: auto;" name="text">Here you will get your text!!</textarea>
                    <p></p>
                    <button type="submit" name="record" style="height: 15%; width: 75%; display: block; margin-right: auto; margin-left: auto;" class="btn btn-dark">Speech to text</button>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}